h1{
    background-color: blue;
}

h2{
    background-color: green;

}

h3{
    background-color: yellow;
    font-style: italic;

}

h4{
    background-color: purple;

}

.h5red{
    background-color: red;

}

.h5blue{
    background-color: blue;

}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}